# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/workspace.xml
adminOperations/__init__.pyc
adminOperations/api_urls.pyc
adminOperations/api_views.pyc
adminOperations/models.pyc
adminOperations/urls.pyc
adminOperations/views.pyc
allProjectsManagement/__init__.pyc
loginPageManagement/__init__.pyc
loginPageManagement/models.pyc
loginPageManagement/urls.pyc
loginPageManagement/views.pyc
pmproject/__init__.pyc
pmproject/models.pyc
pmproject/settings.pyc
pmproject/urls.pyc
pmproject/wsgi.pyc
userManagement/__init__.pyc
userManagement/admin.pyc
userManagement/api_urls.pyc
userManagement/api_views.pyc
userManagement/models.pyc
pmproject/exceptions.pyc
pmproject/templatetags/__init__.pyc
pmproject/utils.pyc
.idea
newProjectIdeaManagement/__init__.pyc
newProjectIdeaManagement/api_urls.pyc
newProjectIdeaManagement/api_views.pyc
newProjectIdeaManagement/models.pyc
newProjectIdeaManagement/urls.pyc
newProjectIdeaManagement/views.pyc
pmproject/templatetags/custom_filters.pyc
userDashboardManagement/__init__.pyc
userDashboardManagement/urls.pyc
userDashboardManagement/view_utils.pyc
userDashboardManagement/views.pyc
*.pyc