adium-theme-ubuntu==0.3.4
apt-xapian-index==0.45
bcdoc==0.12.2
boto==2.35.2
boto3==0.0.6
botocore==0.80.0
chardet==2.0.1
colorama==0.2.5
command-not-found==0.3
debtagshw==0.1
defer==1.0.6
diff-match-patch==20121119
dirspec==13.10
Django==1.5.11
django-appconf==0.6
django-compressor==1.4
django-cors-headers==1.0.0
django-gearman-commands==0.6.1
django-import-export==0.2.6
django-mongodb-engine==0.6.0
django-redis==4.2.0
django-rest-framework-mongoengine==2.0.1
django-selenium==0.9.8
django-storages==1.1.8
djangorestframework==3.0.3
djangotoolbox==1.8.0
docutils==0.12
duplicity==0.6.23
et-xmlfile==1.0.1
gearman==2.0.2
gyp==0.1
html5lib==0.9999999
httplib2==0.8
jdcal==1.2
jmespath==0.5.0
jsonpickle==0.9.2
lockfile==0.8
logger==1.4
lxml==3.3.3
msgpack-python==0.4.6
mysql==0.0.1
mysql-connector-python==1.1.6
MySQL-python==1.2.5
mysql-utilities==1.3.5
oauthlib==0.6.1
oneconf==0.3.7.14.4.1
openpyxl==2.3.2
ordereddict==1.1
PAM==0.4.2
paramiko==1.10.1
pdfcrowd==2.6
pdfkit==0.5.0
permission==0.3.0
pexpect==3.1
Pillow==6.2.0
piston-mini-client==0.7.5
prettytable==0.5
pyBarcode==0.7
pycrypto==2.6.1
pycups==1.9.66
pygobject==3.12.0
pymongo==3.1
pyOpenSSL==0.13
pyparsing==2.0.3
PyPDF2==1.25.1
pyserial==2.6
pysmbc==1.0.14.1
pysqlite==2.6.3
python-apt===0.9.3.5ubuntu2
python-dateutil==2.4.0
python-debian===0.1.21-nmu2ubuntu2
python-Levenshtein==0.12.0
pytz==2015.7
pyxdg==0.25
redis==2.10.3
reportlab==3.0
requests==2.2.1
sessioninstaller==0.0.0
six==1.9.0
software-center-aptd-plugins==0.0.0
ssh-import-id==3.21
system-service==0.1.6
tablib==0.10.0
Twisted-Core==13.2.0
Twisted-Web==13.2.0
unity-lens-photos==1.0
urllib3==1.7.1
validate-email==1.3
virtualenv==13.1.2
xdiagnose===3.6.3build2
zope.interface==4.0.5
