{% extends 'newBase.html' %}
{% block main_content %}
    <div class="w3-container w3-center w3-white w3-padding-32 main-title-container">
        <h1 class="w3-hide-large w3-margin w3-text-red w3-large w3-padding-32">PICK MY PROJECT</h1>
        <h1 class="w3-hide-small"><img src="{{ STATIC_URL }}img/logo_2049114_web.jpg" width="350" height="250"></h1>
        <p class="w3-large">Lets Get Started With</p>
        <a role="button" class="w3-btn w3-ripple w3-padding-small w3-margin-top w3-teal">SEARCH PROJECTS</a>
        <a role="button" class="w3-btn w3-ripple w3-padding-small w3-margin-top w3-red" href="{% url 'login-page' %}">LOGIN/SIGNUP</a>
    </div>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Lorem Ipsum</h1>
                <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h5>

                <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red" style="font-size: 200px;"></i>
            </div>
        </div>
    </div>
{% endblock main_content %}