{% extends "newBase.html" %}
{% block main_content %}
    <div class="w3 row w3-padding-48">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half main-title-container registration-page w3-hide">
            {% include "loginPageManagement/registerPage.html" %}
        </div>
        <div class="w3-container w3-half main-title-container  login-page">
            {% include "loginPageManagement/loginPage.html" %}
        </div>
        <div class="w3-container w3-quarter"></div>
    </div>
{% endblock main_content %}
{% block javascript %}
    <script src="{{ STATIC_URL }}js/loginPageManagement/loginActions.js" type="application/javascript"></script>
{% endblock javascript %}