<div id="errorAlertModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-8">
        <header class="w3-container w3-red">
            <span onclick="document.getElementById('errorAlertModal').style.display='none'" class="w3-closebtn">×</span>
            <h2>Cannot Upload</h2>
            <p id="errorAlertMsg"></p>
        </header>
    </div>
</div>

<div id="successAlertModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-6">
        <header class="w3-container w3-green">
            <span onclick="document.getElementById('successAlertModal').style.display='none'" class="w3-closebtn">×</span>
            <h2>Successfully Done.</h2>
            <p id="successAlertMsg"></p>
        </header>
    </div>
</div>