<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Welcome To PickMyProject</title>
    <link href="{{ STATIC_URL }}css/foundation.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/foundation.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/normalize.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}foundation-icons/foundation-icons.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}owlcarousel/assets/owl.carousel.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  {% block content %}
  {% endblock content %}
</body>
</html>