{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome To PickMyProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ STATIC_URL }}css/w3.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}icons/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<ul class="w3-navbar w3-light-grey w3-card-2 w3-top w3-left-align w3-large w3-text-black top-navigation">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="#" class="w3-padding-large w3-red">HOME</a></li>
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">HOW WE WORK</a></li>
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">SEARCH PROJECTS</a></li>
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">NEW PROJECT IDEA</a></li>
    <li class="w3-hide-small"><a href="javascript:void(0)" onclick="w3_open()">CSE/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
</ul>

<nav class="w3-dropnav w3-card-2 w3-light-grey w3-padding-48" style="display:none" id="myDropnav">
    <div class="w3-container">
        <span onclick="w3_close()" class="w3-closebtn w3-xlarge" title="Close Menu">&times;</span>
    </div>
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>B.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>M.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>OTHER Projects</h3>
            <a href="#">JavaScript Projects</a>
            <a href="#">Java Springs Projects</a>
            <a href="#">Django Projects</a>
        </div>
    </div>
    <br>
</nav>


<!-- Navbar on small screens -->
<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-large w3-black">
        <li><a class="w3-padding-large" href="#">HOW WE WORK</a></li>
        <li><a class="w3-padding-large" href="#">SEARCH PROJECTS</a></li>
        <li><a class="w3-padding-large" href="#">NEW PROJECT IDEA</a></li>
        <li><a href="javascript:void(0)" onclick="w3_open()">CSC/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
    </ul>
</div>

{% block main_content %}
{% endblock main_content %}

<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    var x = document.getElementById("myDropnav");
    function w3_open() {
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    function w3_close() {
        x.className = x.className.replace(" w3-show", "");
    }
</script>


</body>
</html>