{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
{% include 'linkFiles.html' %}
<body>
<ul class="w3-navbar w3-light-grey w3-card-2 w3-top w3-left-align w3-large w3-text-black top-navigation">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="{% url 'home-page' %}" class="w3-padding-large w3-red">HOME</a></li>
    {% block header_part %}
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white scroll-source" data-scroll-target=".how-we-work-scroll-end">HOW WE WORK</a></li>
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">SEARCH PROJECTS</a></li>
    <li class="w3-hide-small"><a href="#" class="w3-padding-large w3-hover-white">NEW PROJECT IDEA</a></li>
    <li class="w3-hide-small"><a href="javascript:void(0)" onclick="w3_open()">CSE/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
    <li class="w3-hide-small w3-right-align"><a class="w3-padding-large w3-hover-white scroll-source"  data-scroll-target=".contact-us-target-div">CONTACT US</a></li>
    {% endblock header_part %}
</ul>

<nav class="w3-dropnav w3-card-2 w3-light-grey w3-padding-48" style="display:none" id="myDropnav">
    <div class="w3-container">
        <span onclick="w3_close()" class="w3-closebtn w3-xlarge" title="Close Menu">&times;</span>
    </div>
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>B.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>M.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>OTHER Projects</h3><li><a class="w3-padding-large" href="#">HOW WE WORK</a></li>
            <a href="#">JavaScript Projects</a>
            <a href="#">Java Springs Projects</a>
            <a href="#">Django Projects</a>
        </div>
    </div>
    <br>
</nav>


<!-- Navbar on small screens -->

<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-large w3-black">
        {% block mobile_nav_header %}
        <li><a class="w3-padding-large" href="#">HOW WE WORK</a></li>
        <li><a class="w3-padding-large" href="#">SEARCH PROJECTS</a></li>
        <li><a class="w3-padding-large" href="#">NEW PROJECT IDEA</a></li>
        <li><a href="javascript:void(0)" onclick="w3_open()">CSC/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
        <li class=""><a class="w3-padding-large w3-hover-white scroll-source"  data-scroll-target=".contact-us-target-div">CONTACT US</a></li>
        {% endblock mobile_nav_header %}
    </ul>
</div>

{% block main_content %}
{% endblock main_content %}

<script>
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    var x = document.getElementById("myDropnav");
    function w3_open() {
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    function w3_close() {
        x.className = x.className.replace(" w3-show", "");
    }
</script>
</body>
</html>