{% load staticfiles %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
{% include 'linkFiles.html' %}
<body ng-app="LoginFormApp">
<ul class="w3-navbar w3-light-grey w3-card-2 w3-top w3-left-align w3-large w3-text-black top-navigation">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
        <a class="w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    </li>
    <li><a href="{% url 'home-page' %}" class="w3-padding-large w3-red">HOME</a></li>
    {% block header_part %}
        <li class="w3-hide-small"><a class="w3-padding-large w3-hover-white scroll-source" data-scroll-target=".how-we-work-scroll-end">HOW WE WORK</a></li>
        <li class="w3-hide-small"><a class="w3-padding-large w3-hover-white" href="{% url 'search-project' %}" >SEARCH PROJECTS</a></li>
        <li class="w3-hide-small"><a class="w3-padding-large w3-hover-white"href="{% url 'new-project-idea' %}">NEW PROJECT IDEA</a></li>
        <li class="w3-hide-small"><a href="javascript:void(0)" onclick="w3_open()">CSE/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
        <li class="w3-hide-small w3-right-align"><a class="w3-padding-large w3-hover-white scroll-source"  data-scroll-target=".contact-us-target-div">CONTACT US</a></li>
        {% if request.user.email %}
            <li class="w3-hide-small w3-right-align"><p class="w3-padding-large">Hi, {{ request.user.name }}</p></li>
                <div class="w3-dropdown-hover">
                    <span class="w3-dropdown-hover w3-badge w3-large w3-teal w3-padding" style="margin-top:25px;">{{ request.user.name|getNameLabel }}</span>
                    <div class="w3-dropdown-content w3-border profile-drop-down">
                        <a href="#">Link 1</a>
                        <a href="{% url 'my-account' %}">my account</a>
                        <a href="{% url 'log-out' %}">logout</a>
                    </div>
                </div>
        {% endif %}
    {% endblock header_part %}
</ul>

<nav class="w3-dropnav w3-card-2 w3-light-grey w3-padding-48" style="display:none" id="myDropnav">
    <div class="w3-container">
        <span onclick="w3_close()" class="w3-closebtn w3-xlarge" title="Close Menu">&times;</span>
    </div>
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3>B.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>M.TECH Projects</h3>
            <a href="#">Java Projects</a>
            <a href="#">.Net Projects</a>
            <a href="#">Pyhton Projects</a>
        </div>
        <div class="w3-third">
            <h3>OTHER Projects</h3>
            <a href="#">JavaScript Projects</a>
            <a href="#">Java Springs Projects</a>
            <a href="#">Django Projects</a>
        </div>
    </div>
    <br>
</nav>


<!-- Navbar on small screens -->

<div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
    <ul class="w3-navbar w3-left-align w3-large w3-black">
        {% block mobile_nav_header %}
            <li><a class="w3-padding-large" >HOW WE WORK</a></li>
            <li><a class="w3-padding-large" href="{% url 'search-project' %}">SEARCH PROJECTS</a></li>
            <li><a class="w3-padding-large" >NEW PROJECT IDEA</a></li>
            <li><a href="javascript:void(0)" onclick="w3_open()">CSC/IT PROJECTS<i class="fa fa-caret-down"></i></a></li>
            <li class=""><a class="w3-padding-large w3-hover-white scroll-source"  data-scroll-target=".contact-us-target-div">CONTACT US</a></li>
        {% endblock mobile_nav_header %}
    </ul>
</div>

{% block main_content %}
{% endblock main_content %}

{% block footer %}
    <div class="w3-container w3-light-grey">
        <div class="w3-row w3-padding-48">
            <div class="w3-col m5">
                <div class="w3-container">
                    <div class="w3-padding-16 contact-us-target-div"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
                    <h3>Address</h3>
                    <p>Will Be Updated Soon...</p>
                    <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Ameerpet, Hyderabad</p>
                    <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  pickmyproject@gmail.com</p>
                </div>
            </div>
            <div class="w3-col m7">
                <form class="w3-container w3-card-4 w3-padding-16 w3-white">
                    <p class="w3-center w3-xlarge">Other requirements? Write us here. We will contact you</p>
                    <div class="w3-group">
                        <label class="w3-label">Name</label>
                        <input class="w3-input" type="text">
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Email</label>
                        <input class="w3-input" type="text">
                    </div>
                    <div class="w3-group">
                        <label class="w3-label">Phone No</label>
                        <input class="w3-input" type="number">
                    </div>
                    <div class="w3-group">
                        <textarea class="w3-input" placeholder="Write your requirements" required></textarea>
                        <label class="w3-label"></label>
                    </div>
                    <button type="button" class="w3-btn w3-right w3-red">CONTACT ME</button>
                </form>
            </div>
        </div>
    </div>

{% endblock footer %}

<script>
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    var x = document.getElementById("myDropnav");
    function w3_open() {
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
    function w3_close() {
        x.className = x.className.replace(" w3-show", "");
    }
</script>
</body>
</html>