{% extends 'newBase.html' %}
{% block  main_content %}
    <div class="w3-row w3-margin-top w3-padding-64">
        <div class="w3-quarter w3-card-2" style="height:800px;">
            <header class="w3-container w3-teal w3-center">
                <img src="{{ STATIC_URL }}img/avathar.png" alt="Avatar" class="w3-circle w3-center" style="width:80px;opacity:0.85">
                <p>Welcome, {{ request.user.name }}</p>
            </header>
            <div class="w3-container w3-center">
                <ul class="w3-ul w3-center w3-large">
                    <li><a class="w3-padding-16 fa fa-dashboard">Your Dashboard</a></li>
                    <li><a class="w3-padding-16 fa fa-edit">Your Profile</a></li>
                    <li><a class="w3-padding-16 fa fa-edit">Your Project Requests</a></li>
                    <li><a class="w3-padding-16 fa fa-edit">New Project Ideas</a></li>
                </ul>
            </div>
        </div>
        <div class="w3-rest">
            {% block user_details_content %}
            {% endblock user_details_content %}
        </div>
    </div>
{% endblock main_content %}